<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title class="headline">Watch {{currentVideo.title}}</v-card-title>

        <div v-html="this.video"></div>

        <v-card-actions>
          <v-btn color="green darken-1" text @click="dialog = false">Close</v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["video", "dialog", "currentVideo"],
  data() {
    return {
      videoLink: "",
    };
  }
};
</script>

<style>
</style>