<template>
  <v-col cols="12" sm="4">
    <v-card class="mx-auto" max-width="344" height="450">
      <v-img :src="video.thumbnail"></v-img>

      <v-card-title>{{ video.title }}</v-card-title>

      <v-card-subtitle>{{ video.competition }}</v-card-subtitle>

      <v-card-actions>
        <v-btn text @click.stop="dialog = true">Watch</v-btn>

        <v-btn color="purple" text>Add to Favourites</v-btn>

        <v-spacer></v-spacer>
      </v-card-actions>

    </v-card>

    <app-display-video :video="video.embed" :dialog="dialog" :currentVideo="video"></app-display-video>
  </v-col>
  <!-- The Dialog -->
</template>

<script>
import DisplayVideo from "@/components/pages/DisplayVideo";

export default {
  props: ["video"],
  components: {
    appDisplayVideo: DisplayVideo
  },
  data() {
    return {
      show: false,
      dialog: false
    };
  }
};
</script>

<style>
</style>