<template>
  <v-container class="fill-height" fluid>
    <app-video v-for="(videos,i) in formattedVideos" :key="i" :video="videos"></app-video>
  </v-container>
</template>

<script>
import Video from "@/components/pages/Video";
import axios from "axios";

export default {
  data: () => ({
    dialog: false
  }),
  components: {
    appVideo: Video
  },
  computed: {
    videos() {
      return this.$store.getters.videos;
    },
    formattedVideos() {
      return this.$store.getters.formattedVideos;
    }
  },
  created() {
    var letter = "b";
    var url = "https://www.scorebat.com/video-api/v1/";

    var response = axios.get(url);

    response.then(resp => {
      this.$store.dispatch("updateVideos", resp["data"]);
      var videos = this.videos;

      videos.map(video => {
        const { title, thumbnail, competition, videos, embed } = video;
        var data = {
          title: title,
          thumbnail: thumbnail,
          competition: competition["name"],
          videos: videos,
          embed: embed
        };

        this.$store.dispatch("updatedFormattedVideos", data);
      });
    });
  }
};
</script>

<style>
</style>