<template>
  <v-main>
    <app-videos></app-videos>
  </v-main>
</template>

<script>
import Videos from "@/components/pages/Videos";

export default {
  name: "Home",
  data: () => ({
    dialog: false
  }),
  components: {
    appVideos: Videos
  }
};
</script>
