<template>
<v-container>
    <v-row>
        <app-login></app-login>
    </v-row>
</v-container>
</template>

<script>
import Login from "@/components/pages/Login";

export default {
  components: {
    appLogin: Login
  }
};
</script>

<style>
</style>