<template>
  <v-container>
    <v-row>
      <app-register></app-register>
    </v-row>
  </v-container>
</template>

<script>
import Register from "@/components/pages/Register";

export default {
  components: {
    appRegister: Register
  }
};
</script>

<style>
</style>