<template>
  <div>
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link v-if="!isLoggedin" to="/register" tag="li">Register</router-link>
            <router-link v-else to="/" tag="li">{{ user.displayName}}</router-link>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link v-if="!isLoggedin" to="/login" tag="li">Login</router-link>
            <v-card-text v-else @click.prevent="signOut">Sign out</v-card-text>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Soccer-Highlights</v-toolbar-title>
    </v-app-bar>
  </div>
</template>

<script>
import firebase from "firebase";

export default {
  data: () => ({
    drawer: null
  }),

  computed: {
    isLoggedin() {
      return this.$store.getters.user.loggedIn;
    },

    user() {
      return this.$store.getters.user.data;
    }
  },

  methods: {
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(data => {
          this.$router.replace({ name: "Login" });
        });
    }
  }
};
</script>

<style>
</style>