<template>
  <div id="app">
    <v-app id="inspire">
      <v-app id="inspire">
        <app-navigation></app-navigation>
        <router-view></router-view>
        <app-footer></app-footer>
      </v-app>
    </v-app>
  </div>
</template>

<script>
import Navigation from "@/components/header/Navigation";
import Footer from "@/components/footer/Footer";

export default {
  name: "App",
  components: {
    appNavigation: Navigation,
    appFooter: Footer
  },
  data: () => ({
    //
  }),
  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>
